%div.comment
  %div.comment-header
    %div.text-info.comment-user
      = comment.user_name
      さん
    %div.pull-right.comment-metadata
      %div.text-muted
        = comment.created_at.to_s
        = link_to "削除", comment_path(comment), method: :delete, data: { confirm: "コメントを削除しますか?" }, class:"text-muted"
  %div.comment-content
    = simple_format(h(comment.body))
