= render 'shared/header', id: @advent_calendar_item.id, date: @advent_calendar_item.date
%div.container
  %div.page-header
    %h1 #{t "views.advent_calendar_items.edit.title", date: @advent_calendar_item.date, month: Constants::MONTH}
    %hr
  = render 'form', advent_calendar_item: @advent_calendar_item
