%nav.navbar.navbar-default{:role=>"navigation"}
%div.container
  %div.page-header
    %h1 #{@advent_calendar_item.date}日目(12/#{@advent_calendar_item.date})のAdventCalendar情報編集
    %hr
  = render 'form', advent_calendar_item: @advent_calendar_item