%div.advent-calendar-breadcrumb
  %div.container
    = link_to "AdventCalendar", root_path
    \/
    - if id
      = link_to "#{date}日目", advent_calendar_item_path(id: id)
    - else
      #{date}日目
