%div
  %div.jumbotron
    %div.container
      %h1 Advent Calendar #{Constants::YEAR}

%div.container
  %div.advent-calendar-description
    %h2 AdventCalendarとは
    %hr
    %p クリスマスまでの期間をより楽しく過ごすため、12月1日から25日まで1日に1つ、みんなで記事を投稿するイベントです。
  %table.table.table-bordered.advent-calendar-calendar
    %thead
      %tr
        %th 日
        %th 月
        %th 火
        %th 水
        %th 木
        %th 金
        %th 土
    %tbody
      - @calendar_data.each do |week|
        %tr
          - week.each do |date|
            %td
              %p.advent-calendar-date
                = date.day
              -if advent_calendar_date?(date)
                = render "detail", advent_calendar_item: @advent_calendar_items.find_by(date: date.day), date: date.day

%footer.welcome-footer
  %div.container
    %p.small
      Powered by
      = link_to "radvent", "https://github.com/nanonanomachine/radvent/"

