%div.bs-doc-header
  %div.jumbotron
    %div.container
      %h1 Advent Calendar 2014

%div.container
  %table.table.table-bordered.advent-calendar-calendar
    %thead
      %tr
        %th 日
        %th 月
        %th 火
        %th 水
        %th 木
        %th 金
        %th 土
    %tbody
      - @calendar_data.each do |week|
        %tr
          - week.each do |date|
            %td
              %p.advent-calendar-date
                = date.day
              -if date.month == 12 && date.day < 26
                = render "detail", advent_calendar_item: @advent_calendar_items.find_by(date: date.day), date: date.day

