= render "shared/header_fluid", id: @item.advent_calendar_item_id, date: @item.advent_calendar_item.date
%div.container-fluid
  %h2 #{t "views.items.edit.title"}
  %hr
  = render "form", item: @item, attachment: @attachment
