%div.advent-calendar-breadcrumb
  %div.container
    プレビュー
= render "content", item: @item, advent_calendar_item_prev: nil, advent_calendar_item_next: nil
%div.container.comments
  %div.comment-title コメント
  %hr