%div.advent-calendar-breadcrumb
  %div.container
    #{t "views.items.preview.header_preview"}
= render "content", item: @item, advent_calendar_item_prev: nil, advent_calendar_item_next: nil
%div.container.comments
  %div.comment-title #{t "activerecord.models.comment"}
  %hr
