// Place all the styles related to the advent_calendar_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.advent-calendar-item-link{
	margin-top: 21px;
	margin-bottom: 10.5px;
}